$deepSpaceBlue: #335C67;

nav{
    background-color: $deepSpaceBlue;

    a{
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.5em;
    }

    .nav-link, .navbar-brand{
        color: white;
    }
    
    .navbar-brand{
        font-size: 1.8em;
    }
}