img{
    height: 150px;
    width: 150px;
}

.title{
    text-align: center;
    font-size: 18px;
    font-family: 'Luckiest Guy', cursive;

}
.t{
    text-align: center;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;  
}
.c{
    display: flex;
    justify-content: center;
    background-color: rgb(196,196,196);
    //margin: 10px;
    border-radius:10px;
}
.d{
    text-align: center;
}
.e{
    padding:10px;
   
}
.f{
    margin:30px;
}
.l{
    border-radius:10px;
}
