<div class="f" >
    <!--Jeux d'aventure-->
    <div class="t"> 
        <p > Catégories de Jeux</p> 
    </div>
    <div class="row e">
        <div class="c justify-content-between d-flex align-items-center">
            <div class="col-sm-2">
                <h1 class="t ">JEUX D'AVENTURE</h1>
            </div>
            <div class="col-sm-2 e" *ngFor="let b of boardGames.games">
                <div class="card l">
                    <div class="card-body ">
                        <p class="title"> {{ b.name }} </p>
                        <div class="d"> 
                            <img src="{{ b.image_url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<p>{{boardGames.games[0].description_preview}}</p> -->
    </div>

    <!--Jeux de cartes-->

    <div class="row e">
        <div class="c justify-content-between d-flex align-items-center">
            <div class="col-sm-2">
                <h1 class="t ">JEUX DE CARTE</h1>
            </div>
            <div class="col-sm-2 e" *ngFor="let b of cardGames.games">
                <div class="card l">
                    <div class="card-body ">
                        <p class="title"> {{ b.name }} </p>
                        <div class="d"> 
                            <img src="{{ b.image_url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<p>{{boardGames.games[0].description_preview}}</p> -->
    </div>

     <!--Jeux Plateaux-->

     <div class="row e">
        <div class="c justify-content-between d-flex align-items-center">
            <div class="col-sm-2">
                <h1 class="t ">JEUX PLATEAUX</h1>
            </div>
            <div class="col-sm-2 e" *ngFor="let b of strategyGames.games">
                <div class="card l">
                    <div class="card-body ">
                        <p class="title"> {{ b.name }} </p>
                        <div class="d"> 
                            <img src="{{ b.image_url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<p>{{boardGames.games[0].description_preview}}</p> -->
    </div>


  