/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://media.discordapp.net/attachments/951024041056145459/953249731604271164/Capture_decran_2022-03-12_a_00.13.50.png?width=646&height=427");
    background-repeat: no-repeat;
    background-size: cover;
}