
<div class="e ">
    <p class="v">
        Viens jouer dans notre bar à jeux en compagnie de nos chats  ! <br>
        Tu trouveras plus de 500 références ! Il y en a pour tous les goûts ! <br>
        En famille, entre amis ou avec ton équipe de travail,<br> tu découvriras une ambiance de folie ! <br>
        A toi de jouer !
    </p>
</div>

<div class="justify-content-between d-flex align-items-center b">
    <div class="col-sm-3 a i1">
        <p class="text"> Soirée Harry Potter</p>
    </div>
    <div class="col-sm-3 a i2">
        <p class="text"> Soirée Donjon & Dragon</p>
    </div>
    <div class="col-sm-3 a i3">
        <p class="text"> Soirée Domino </p>
    </div>
</div>


