<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="e mt-3">
            <p class="v">
                Viens jouer dans nos bars à jeux en compagnie de nos chats  ! <br>
                Tu trouveras plus de 500 références ! Il y en a pour tous les goûts ! <br>
                En famille, entre amis ou avec ton équipe de travail,<br> tu découvriras une ambiance de folie ! <br>
                A toi de jouer !
            </p>
        </div>   
        <div class="col-12 justify-content-between d-flex flex-wrap mb-3 b">
            <div class="col-sm-3 mb-sm-3 a i1">
                <p class="text"> Soirée Harry Potter <br>Vendredi 18 mars à 19h00 <br> </p>
                <div class=" text align-bottom w">
                    <strong class=""> 📍 Au LetsBoard Bar </strong>
                </div>
            </div>
            <div class="col-sm-3 a i2">
                <p class="text"> Soirée Donjon & Dragon <br> Samedi 30 Avril à 19h00 <br></p>
                <div class=" text align-bottom w">
                    <strong class=""> 📍 Au Gamers Bar  </strong>
                </div>
            </div>
            <div class="col-sm-3 a i3">
                <p class="text"> Soirée Domino <br> Samedi 23 Avril à 19h00 <br></p>
                <div class=" text align-bottom w">
                    <strong class=""> 📍 Au Players Bar  </strong>
                </div>
            </div>
        </div>
    </div>  
</div>

<app-localisation></app-localisation>
