.e{
    //margin: 150px;
    background-color: rgb(90,164,170);
    //padding: 40px;
    border-radius: 10px;
    opacity: 0.9;
}
.v{
    font-size: 48px;
    text-align: center;
}
.a{
    background-color: rgb(90,164,170);
    border-radius: 10px;
    opacity: 0.9;
    height: 400px;
    width: 500px;
}

.text{
    font-size: 30px;
    text-align: center;
    color: rgb(224,159,62);
    padding-top: 30px;
}
.i1{
    background-image: url("https://images-ext-1.discordapp.net/external/QQJqugTKziHkgxxzK6qNQwwDeGDADbDThnG6u6fMo_A/%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8%26auto%3Dformat%26fit%3Dcrop%26w%3D2070%26q%3D80/https/images.unsplash.com/photo-1618944913480-b67ee16d7b77?width=641&height=427");
}
.i2{
    background-image: url("https://images-ext-2.discordapp.net/external/DK-vQZ9GaGYTP_8F1JfHtRw7UVDcQlDHxA517zfq6j8/%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8%26auto%3Dformat%26fit%3Dcrop%26w%3D2070%26q%3D80/https/images.unsplash.com/photo-1601987077677-5346c0c57d3f?width=641&height=427");
}
.i3{
    background-image: url("https://images-ext-1.discordapp.net/external/QfhKIfaI8jtVIel1LEK_LrUJD4spdenixJQA5bt0eSc/%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8%26auto%3Dformat%26fit%3Dcrop%26w%3D1674%26q%3D80/https/images.unsplash.com/photo-1617398759584-bb7c6be1bf3c?width=569&height=427");
}
.w{
    color: rgb(224,159,62) ;
    padding-top: 200px;
}
